---
---
<div class="bibliography">
  <h3>References</h3>
  <ul>
    <li><a href="https://laescuelaartesana.com/taller-de-tintes-naturales-sobre-lana/" target="_blank">La Escuela Artesana - Taller de Tintes Naturales sobre Lana</a></li>
    <li><a href="https://www.instagram.com/tatianasarasa/" target="_blank">Tatiana Sarasa (@tatianasarasa) - Artista Textil y Tintes Naturales</a></li>
  </ul>
</div>
<style>
  .bibliography {
    padding: 1rem 0;
  }
  .bibliography h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .bibliography ul {
    list-style: none;
    padding: 0;
  }
  .bibliography li {
    margin-bottom: 0.5rem;
  }
  .bibliography a {
    color: #6366f1;
    text-decoration: none;
  }
  .bibliography a:hover {
    text-decoration: underline;
  }
</style>
