---
---
<div class="bibliography">
  <h3>References</h3>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Shoe_size" target="_blank">Shoe size conversion - Wikipedia</a></li>
    <li><a href="https://www.iso.org/standard/17157.html" target="_blank">ISO 9407: Shoe sizes - Mondopoint system</a></li>
    <li><a href="https://www.zappos.com/c/shoe-size-conversion" target="_blank">Shoe size conversion - Zappos</a></li>
  </ul>
</div>
<style>
  .bibliography {
    padding: 1rem 0;
  }
  .bibliography h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .bibliography ul {
    list-style: none;
    padding: 0;
  }
  .bibliography li {
    margin-bottom: 0.5rem;
  }
  .bibliography a {
    color: #6366f1;
    text-decoration: none;
  }
  .bibliography a:hover {
    text-decoration: underline;
  }
</style>
