---
---
<ul>
  <li>
    <a href="https://blog.tincanknits.com/2013/08/17/gauge/" target="_blank" rel="noopener noreferrer">
      The Importance of Gauge - Tin Can Knits
    </a>
  </li>
  <li>
    <a href="https://elizabethsmithknits.com/2020/10/30/how-to-measure-your-gauge-swatch/" target="_blank" rel="noopener noreferrer">
      Knitting Gauge: How to Measure Stitches and Rows - Elizabeth Smith Knits
    </a>
  </li>
</ul>
