---
---
<ul>
  <li>
    <a href="https://www.craftyarncouncil.com/standards/yarn-weight-system" target="_blank" rel="noopener noreferrer">
      Craft Yarn Council: Standard Yarn Weights &amp; Yardages
    </a>
  </li>
  <li>
    <a href="https://www.interweave.com/article/knitting/yarn-substitution-angelina-take-two/" target="_blank" rel="noopener noreferrer">
      Interweave Essentials: Yarn Substitution and Estimation
    </a>
  </li>
  <li>
    <a href="https://woolery.com/blogs/the-woolery-blog/yarn-weight-charts-helpful-guide/" target="_blank" rel="noopener noreferrer">
      The Woolery: Fibers and Calculation of Yarn Usage
    </a>
  </li>
</ul>
