---
---
<ul>
  <li>
    <a href="https://www.threadsmagazine.com/forum/measuring-fabric" target="_blank" rel="noopener noreferrer">
      Fabric Estimation Guide - Threads Magazine
    </a>
  </li>
  <li>
    <a href="https://www.seamwork.com/sewing-tutorials/the-anatomy-of-a-sewing-pattern" target="_blank" rel="noopener noreferrer">
      How much fabric do I need? - Seamwork
    </a>
  </li>
  <li>
    <a href="https://www.textileschool.com/209/fabric-consumption-in-garment-making/" target="_blank" rel="noopener noreferrer">
      Standard Fabric Consumption Charts - Textile School
    </a>
  </li>
</ul>
