---
---
<div class="bibliography">
  <h3>References</h3>
  <ul>
    <li><a href="https://www.iso.org/standard/60465.html" target="_blank">ISO 3758 - Textile Care Symbols</a></li>
    <li><a href="https://www.ftc.gov/" target="_blank">FTC - Textile Care Information</a></li>
  </ul>
</div>
<style>
  .bibliography {
    padding: 1rem 0;
  }
  .bibliography h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .bibliography ul {
    list-style: none;
    padding: 0;
  }
  .bibliography li {
    margin-bottom: 0.5rem;
  }
  .bibliography a {
    color: #6366f1;
    text-decoration: none;
  }
  .bibliography a:hover {
    text-decoration: underline;
  }
</style>
